{% extends 'main.html' %}

{% block content %}
<nav>
  <div class="container">
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
    
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<body>
  <div class="container">
    <div class="row">
        {% for categoria in categorias %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ categoria.imagen_seccion.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.name }}</h5>
                    <p class="card-text">{{ categoria.descripcion }}</p>
                    <a href="{% url 'post_list' categoria.id %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}



  

